certifi==2021.5.30
chardet==4.0.0
idna==2.10
progressbar==2.5
pydantic==1.8.2
pydantic-yaml==0.4.2
python-apt==2.0.0+ubuntu0.20.4.5
pyxdg==0.27
PyYAML==5.4.1
requests==2.25.1
requests-unixsocket==0.2.0
semver==2.13.0
typing-extensions==3.10.0.0
urllib3==1.26.6
