wheel
setuptools
python-distutils-extra @ https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/python-distutils-extra/2.43/python-distutils-extra_2.43.tar.xz
python-apt @ https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/python-apt/2.0.0ubuntu0.20.04.6/python-apt_2.0.0ubuntu0.20.04.6.tar.xz
furo==2024.8.6
pyspelling==2.10
myst-parser==4.0.0
Sphinx==7.4.7
sphinx-autobuild==2024.10.3
sphinx-autodoc-typehints==2.2.2
sphinx-design==0.6.1
sphinx-jsonschema==1.19.1
sphinx-pydantic==0.1.1
sphinx-tabs==3.4.7
sphinxcontrib-applehelp==2.0.0
sphinx_design==0.6.1
sphinxcontrib-details-directive==0.1.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxext-opengraph==0.9.1
canonical-sphinx==0.1.0
