wheel
setuptools
python-distutils-extra @ https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/python-distutils-extra/2.43/python-distutils-extra_2.43.tar.xz
python-apt @ https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/python-apt/2.0.0ubuntu0.20.04.6/python-apt_2.0.0ubuntu0.20.04.6.tar.xz
sphinx-autobuild==2024.2.4
sphinx-autodoc-typehints==2.0.1
sphinx-pydantic==0.1.1
sphinxcontrib-details-directive==0.1.0
canonical-sphinx~=0.1
